@page {
  size: a4 portrait;
  margin: 25mm 10mm 25mm 10mm;
  counter-increment: page;
  font-family:"Times New Roman", Times, serif;
  white-space: pre;
  color: grey;
  @top-left {
      content: '© 2023 UNRC, Facultad de Ingeniería, Departamento de Telecomunicaciones';
  }
  @top-center {
      content: string(chapter);
  }
  @top-right {
      content: 'Page ' counter(page);
  }
}